.skills {
    background-color: var(--container-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.skills__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2rem;
    gap: 10rem;
}

.skills__data {
    text-align: center;
}

.skills__description {
    text-align: left;
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
}

.skills__content,
.skills__group {
    display: grid;
}

.skills__content {
    font-size: var(--h3-font-size);
    grid-template-columns: repeat(2, max-content);
    column-gap: 4rem;
    justify-content: center;
    align-items: baseline;
    text-align: left;
}

.skills__group {
    row-gap: 1rem;
    list-style: decimal-leading-zero;
}

.skills__item {
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.skills__item::marker {
    color: var(--first-color);
}

.skills__content__data {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}

.skills__content__data > * {
    width: 25rem;
    margin: 1rem 0 3rem 0;
}

@media screen and (max-width: 768px) {
    .skills__container {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }

    .skills__content {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 2rem;
        column-gap: 0;
        transform: translateX(5rem);
    }

    .skills__content__data {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0rem;
    }

    .skills__description {
        text-align: center;
        margin-bottom: 1rem;
    }
   
    
}