.home {
  display: flex;
  justify-content: center;
  background-color: var(--container-color);
}

.home__container {
  padding-top: 2rem;
  row-gap: 2.5rem;
}

.home__content {
  display: grid;
  row-gap: 2rem;
}

.home__data {
  padding: 0 6rem;
}

.home__subtitle,
.home__education {
  font-size: var(--bigger-font-size);
}

.home__subtitle span,
.home__title {
  color: var(--first-color);
}

.home__title {
  font-size: var(--biggest-font-size);
  font-weight: var(--font-semi-bold);
}

.home__description {
  text-align: left;
  font-size: var(--h3-font-size);
  margin-block: 1rem 1.5rem;
}

.home__social {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  margin-top: 3rem;
}

.home__main {
  display: grid;
  grid-template-columns: repeat(2, 30rem);
  place-items: center;
  gap: 15rem;
}

.home__model__border,
.home__model {
  clip-path: polygon(
    50% 0%,
    /* punto superior medio */ 100% 25%,
    /* esquina superior derecha */ 100% 75%,
    /* esquina inferior derecha */ 50% 100%,
    /* punto inferior medio */ 0% 75%,
    /* esquina inferior izquierda */ 0% 25% /* esquina superior izquierda */
  );
}

.home__model {
  width: 25rem;
  height: 29rem;
  background-color: var(--container-color);
}

.home__model__border {
  transform: translateY(-5rem);
  width: calc(25rem + 10px);
  height: calc(29rem + 10px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: var(--first-color);
}

.home__social-link {
  display: flex;
  background-color: var(--first-color-alt);
  padding: 0.5rem;
  color: var(--title-color);
  font-size: 1.5rem;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: transform 0.4s;
}

.home__social-link:hover {
  transform: translateY(-0.25rem);
}

.home__image {
  justify-self: center;
}

.home__blob {
  width: 320px;
  fill: var(--first-color);
  filter: drop-shadow(0 12px 12px hsla(var(--hue), 100%, 40%, 0.2));
}

@media screen and (max-width: 1200px) {
  .home__main {
    grid-template-columns: 1fr;
    row-gap: 5rem;
  }

  .home__description,
  .home__main__description,
  .home__subtitle,
  .home__education,
  .home__title {
    text-align: center;
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .home__subtitle,
  .home__education {
    font-size: var(--h2-font-size);
  }

  .home__description {
    font-size: var(--normal-font-size);
  }

  .home__model {
    width: 20rem;
    height: 24rem;
  }

  .home__model__border {
    margin-top: 2rem;
    width: calc(18rem + 7px);
    height: calc(22rem + 7px);
  }

  .home__model {
    width: 18rem;
    height: 22rem;
  }

  .home__container {
    padding-top: 0;
  }
}

@media screen and (max-width: 768px) {
  .home__main {
    grid-template-columns: 1fr;
  }

  .home__model {
    width: 16rem;
    height: 20rem;
  }

  .home__description {
    text-align: center;
  }

  .home__main__description {
    text-align: center;
  }

  .home__model__border {
    margin-top: 2rem;
    width: calc(16rem + 5px);
    height: calc(20rem + 5px);
  }

  .home__container {
    padding-top: 0;
  }

  .section.home {
    padding-bottom: 0;
  }
}
