.contact__container{
    padding: 0 10rem;
}

.contact__form {
    display: grid;
    row-gap: 1rem;
}

.contact__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}

.contact__form {
    position: relative;
}

.contact__input {
    padding: 1rem 1.25rem;
    border-radius: .5rem;
    background-color: var(--container-color);
    color: var(--title-color);
}

.contact__input::placeholder {
    color: var(--text-color);
}

.contact__form textarea{
    height: 15rem;
    resize: none;
    margin-bottom: 2rem;
}

.contact__button{
    justify-self: center;
    cursor: pointer;
}

.contact__message {
    position: absolute;
    left: 0;
    bottom: 4.5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.contact__loader {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 