.footer {
    background-color: var(--container-color);
    padding-block: 3.5rem 2rem;
}

.footer__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: space-between;
}

.footer__title {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .25rem;
}

.footer__title span {
    color: var(--first-color);
}

.footer__education {
    font-size: var(--h3-font-size);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    display: flex;
    background-color: var(--first-color-alt);
    padding: .5rem;
    color: var(--title-color);
    font-size: 1.5rem;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    transition: transform .4s;
}

.footer__social-link > img {
    width: 1.5rem;
    height: 1.5rem;
}

.footer__social-link:hover {
    transform: translateY(-.25rem);
}

.footer__copy {
    text-align: center;
    font-size: var(--smaller-font-size);
    margin-top: 2rem;
}

@media screen and (max-width: 410px) {
    .footer__social {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .footer__social > * {
        width: 2.5rem;
    }
    
}